
  @import url('https://fonts.googleapis.com/css?family=Muli:300,700|Nunito');

  body {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    padding-top: 75px;
  }


  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    line-height: inherit;
  }

  h1 {
    color: #000000;
    font-size: 3em;
    line-height: normal;
  }

  h2 {
    color: #000000;
    font-size: 2em;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  h3,
  h3 a {
    color: #000000;
  }

  p {
    color: #757575;
    font-size: 14px;
    font-weight: bolder;
    line-height: 24px;
  }







  /*---------------------------------------
      FEATURE              
  -----------------------------------------*/

  .feature-thumb {
    border: 2px solid black;
    padding: 5em 3em;
    background-color: #BFBEBE;
    opacity: 0.75;
  }

  .feature-thumb span {
    background: #3f51b5;
    border-radius: 50px;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    width: 60px;

    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 5px;
  }

  .feature-thumb h3 {
    margin: 10px 0;
  }

  .masthead {
    background: url("../image/bg_course.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }






