tbody.table-bordered{
    border:2px solid black;
    margin-top:5px;
}
table.table-bordered > thead > tr > th{
    border:2px solid black;
}
table.table-bordered > tbody > tr > td{
    border:2px solid black;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}