.head{
    background-color:#C2D6DF;
    height:60px
}

a{
    color: black;
    font-weight:600;
    font-family: Roboto,sans-serif;
}

.ali{
    position: relative;
    top: 19px;
    left: 30px;
}
