.main{
    position: relative;
    background: #CEE3E1;
    height: 100%;
}
span{
    background: green;
    border-radius: 50px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    width: 60px;

    height: 60px;
    line-height: 60px;
    text-align: center;

}
h1{
    text-align: center;
    margin: 0 auto;
}

.btnmar{
    margin: 0 auto;
}

.text-secondary{
    text-align: center !important;
}

.h6,h6{
    padding: 5px !important;
}

.row{
    margin-left: 0 !important;
}

.list-group{
    flex-direction: row;
}

.align-span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-group-item{
    background-color: #E9EBEB !important;
    top:125px !important;
}

.col-8{
    top: 100px;
}
.col-md-8 {
    max-width: 100% !important;
}

.table{
    background-color: whitesmoke !important;
    width: 98% !important;
}

.list-group-item.active{
    background-color: #1856DC !important;
    border-color: #7DAADD !important;
}