.signup-form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
    text-align-last: center;
    text-align: center;
}
p{
    font-size: 20px;
}
.form-group {
    display: flex;
    justify-content: center;
}
.errormes{
    background-color:#DA2E2E;
    color: ghostwhite;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
}