.signup-form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
    text-align-last: center;
    text-align: center;
}
.form-group {
    display: flex;
    justify-content: center;
}
.masthead {
    height: 120vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.letter{
    color: #342121;
    font-size: 180%;
    font-family: sans-serif;
    position: relative;
    top: 5px;
}
h2 {
    text-transform: uppercase; /* Заглавные буквы */
    font-family: sans-serif;
}
#paragraph {
    display: none;
}

.par{
    background: lightgreen;
    position: absolute;
    z-index: 5555;
    top:155px;
    left: 440px;
    font-size: 5rem;
}